header{
    background-color: #52AA5E;
    color: #000000;
}
.bottom_description{
    margin-block-end: 0px;
    text-align: center;
    font-size: 20px;
}
.nav_bar{
    background-color: #3AAED8;
    color: #000000;
    margin: 0px;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(0,0,0);
    border-top: 1px solid rgb(0,0,0);
    list-style-type: none;
}
.nav_bar li{
    display: inline-block;
    text-align: center;
}
.nav_bar li a{
    display: block;
    text-decoration: none;
    padding: 8px;
    color: rgb(0,0,0);
    font-size: 10px;
    font-family: sans-serif;
}
.nav_bar li a:active{
    display: block;
    text-decoration: none;
    padding: 8px;
    color: rgb(0,0,0);
    font-size: 10px;
    font-family: sans-serif;
}
.nav_bar li a:hover{
    display: block;
    text-decoration: none;
    padding: 8px;
    background-color: rgb(0,0,0);
    color: rgb(252,252,252);
    font-size: 10px;
    font-family: sans-serif;
}
.item_overview{
    background-color: #3AAED8;
    color: #000000;
    margin: 0px;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(0,0,0);
    border-top: 1px solid rgb(0,0,0);
    background-color: rgba(58,174,216,0.20);
    list-style-type: none;
}
.item_overview li{
    display: inline-block;
    text-align: center;
}
.item_overview li a{
    display: block;
    text-decoration: none;
    padding: 8px;
    color: rgb(0,0,0);
    font-size: 15px;
    font-family: sans-serif;
}
.item_overview li a:active{
    display: block;
    text-decoration: none;
    padding: 8px;
    color: rgb(0,0,0);
    font-size: 15px;
    font-family: sans-serif;
}
.item_overview li a:hover{
    display: block;
    text-decoration: none;
    padding: 8px;
    background-color: rgb(0,0,0);
    color: rgb(252,252,252);
    font-size: 15px;
    font-family: sans-serif;
}
h1{
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
    padding-top: 10px;
}
h1 a{
    text-decoration: none;
    color: rgb(0,0,0);
    font-family: sans-serif;
}
h1 a:hover{
    text-decoration: none;
    color: rgb(0,0,0);
    font-family: sans-serif;
}
h1 a:active{
    text-decoration: none;
    color: rgb(0,0,0);
    font-family: sans-serif;
}
h1 a:visited{
    text-decoration: none;
    color: rgb(0,0,0);
    font-family: sans-serif;
}
.h2_welcome{
    text-align: left;
    font-size: 35px;
    background-color: white;
}
.page_description{
    text-align: center;
    font-size: 20px;
}
.index_page{
    background-color: white;
    padding-left: 10px;
}
.def_box{
  padding: 15px;
  background: white;
}
.def_box h2{
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}
.def_box p{
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}
body{
    margin-top: 8px;
    margin-right: 7px;
    margin-bottom: 0px;
    margin-left: 8px;
    background-color: #FFFFFF;
    font-family: sans-serif;
}
.box_header{
    font-size: 20px;
    margin: 8px;
}
.box_header a{
    text-decoration: none;
    color: rgb(0,0,0);
}
.box_header a:hover{
    text-decoration: none;
    color: rgb(0,0,0);
}
.box_header a:visited{
    text-decoration: none;
    color: rgb(0,0,0);
}
.box_header a:active{
    text-decoration: none;
    color: rgb(0,0,0);
}
.term_defined{
    font-style: italic;
}
.term_defined a{
    text-decoration: none;
    color: rgb(0,0,0);
}
.term_defined a:hover{
    text-decoration: none;
    color: rgb(0,0,0);
}
.term_defined a:visited{
    text-decoration: none;
    color: rgb(0,0,0);
}
.term_defined a:active{
    text-decoration: none;
    color: rgb(0,0,0);
}
.grid_container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 40px 0px;
    float: center;
}
.grid_container_product{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: grid-end;
    grid-gap: 10px 0px;
}
.sub_grid_container_delta_one{
    display: grid;display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: grid-end;
    grid-gap: 10px 0px;
}
.sub_grid_container_options{
    display: grid;display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: grid-end;
    grid-gap: 10px 0px;
}
.sub_grid_container_options_european{
    display: grid;display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: grid-end;
    grid-gap: 10px 0px;
}
.grid_item_left{
    display: inline-block;
    padding: 8px;
    background-color: rgb(252,252,252);
    color: rgb(0,0,0);
    text-align: left;
    border: 4px solid rgb(0,0,0);
    border-radius: 10px;
}
.grid_item_right_delta_one{
    display: inline-block;
    padding: 8px;
    background-color: rgb(252,252,252);
    color: rgb(0,0,0);
    text-align: center;
    border: 4px solid rgb(0,0,0);
    border-radius: 10px;
}
.grid_item_right_options{
    display: inline-block;
    padding: 8px;
    background-color: rgb(252,252,252);
    color: rgb(0,0,0);
    text-align: center;
    border: 4px solid rgb(0,0,0);
    border-radius: 10px;
}
.grid_item_right_options_european{
    display: inline-block;
    padding: 8px;
    background-color: rgb(252,252,252);
    color: rgb(0,0,0);
    text-align: center;
    border: 4px solid rgb(0,0,0);
    border-radius: 10px;
}
.grid_item_right_trading_strategies{
    display: inline-block;
    padding: 4px;
    background-color: rgb(252,252,252);
    color: rgb(0,0,0);
    text-align: center;
    border: 4px solid rgb(0,0,0);
    border-radius: 10px;
}
.glossary{
    list-style-type: none;
    text-align: left;
    display: inline;
}
.product_list{
    list-style-type: none;
    text-align: left;
    display: inline;
}
.sub_grid_container_greeks{
    display: grid;display: grid;
    grid-template-columns: 100%;
    justify-content: grid-end;
    grid-gap: 10px 0px;
}
.grid_item_greeks{
    display: inline-block;
    padding: 8px;
    background-color: rgb(252,252,252);
    color: rgb(0,0,0);
    text-align: center;
    border: 4px solid rgb(0,0,0);
}
.trading_strategies_box{
    padding-left: 5px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: grid-end;
    grid-gap: 10px 0px;
}
.footer_class{
  background-color: rgb(190,190,190);
  padding: 1cm;
  font-family: sans-serif;
  text-align: right;
}
.footer_class ul{
    display: inline;
}
.footer_class ul li{
    display: inline-block;
}
.footer_class ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 8px;
    color: rgb(0,0,0);
    font-size: 20px;
    font-family: sans-serif;
}
.footer_class ul li a:hover{
    display: inline-block;
    text-decoration: none;
    padding: 8px;
    color: rgb(0,0,0);
    font-size: 20px;
    font-family: sans-serif;
}
.footer_class ul li a:visited{
    display: inline-block;
    text-decoration: none;
    padding: 8px;
    color: rgb(0,0,0);
    font-size: 20px;
    font-family: sans-serif;
}

